/* PHASE 11: Icons */

[class*="icon-"] {
  background-image: url("../images/sprite.png");
  background-size: 25px 250px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 0;
  overflow: hidden;
  padding-top: 25px;
  vertical-align: bottom;
}
[class*="icon-small-"] {
  width: 20px;
  padding-top: 20px;
  margin-right: 5px;
}


.icon-small-wall {
  background-position: left -225px;
}

.icon-small-about {
  background-position: left -175px;
}

.icon-small-friends {
  background-position: left -150px;
}

.icon-small-photos {
  background-position: left -200px;
}

.icon-comment {
  background-position: left top;
}

.icon-reblog {
  background-position: left -100px;
}

.icon-favorite {
  background-position: left -50px;
}

.icon-comment:hover {
  background-position: left -25px;
}

.icon-reblog:hover {
  background-position: left -125px;
}

.icon-favorite:hover {
  background-position: left -75px;
}
